# SQL(WHERE IN) - world
* 대륙이 South America 이거나 North America인 국가, 대륙, 인구를 뽑아라

In [1]:
import MySQLdb
import pandas as pd

db = MySQLdb.connect(
    'db.fastcamp.us',
    'root',
    'dkstncks',
    'world',
    charset='utf8',
)

curosr = db.cursor()

---
### SQL

In [10]:
SQL_QUERY = """
    SELECT
        Name,
        Continent,
        Population,
        SurfaceArea
    FROM
        Country
    WHERE
        Continent = 'South America'
    ;        
"""

pd.read_sql(SQL_QUERY, db)

                Name      Continent  Population  SurfaceArea
0          Argentina  South America    37032000      2780400
1            Bolivia  South America     8329000      1098581
2             Brazil  South America   170115000      8547403
3              Chile  South America    15211000       756626
4           Colombia  South America    42321000      1138914
5            Ecuador  South America    12646000       283561
6   Falkland Islands  South America        2000        12173
7      French Guiana  South America      181000        90000
8             Guyana  South America      861000       214969
9               Peru  South America    25662000      1285216
10          Paraguay  South America     5496000       406752
11          Suriname  South America      417000       163265
12           Uruguay  South America     3337000       175016
13         Venezuela  South America    24170000       912050

In [32]:
SQL_QUERY = """
    SELECT
        Name,
        Continent,
        Population,
        ROUND(SurfaceArea/9363520 * 1000, 0) '미국의 면적이 1000일때 면적',
        ROUND(Population/278357000 * 1000, 0) '미국 인구가 1000명일 때의 인구수',
        ROUND(ROUND(SurfaceArea/9363520 * 1000, 0)/ROUND(Population/278357000 * 1000, 0),2) '면적당 인구수'
    FROM
        Country
    WHERE
        Continent IN ('South America', 'North America')
    ORDER BY
        2,
        3 DESC
    ;
"""

pd.read_sql(SQL_QUERY, db)

,Name,Continent,Population,미국의 면적이 1000일때 면적,미국 인구가 1000명일 때의 인구수,면적당 인구수
0,United States,North America,278357000,1000,1000,1.00
1,Mexico,North America,98881000,209,355,0.59
2,Canada,North America,31147000,1065,112,9.51
3,Guatemala,North America,11385000,12,41,0.29
4,Cuba,North America,11201000,12,40,0.30
5,Dominican Republic,North America,8495000,5,31,0.16
6,Haiti,North America,8222000,3,30,0.10
7,Honduras,North America,6485000,12,23,0.52
8,El Salvador,North America,6276000,2,23,0.09
9,Nicaragua,North America,5074000,14,18,0.78
10,Costa Rica,North America,4023000,5,14,0.36
11,Puerto Rico,North America,3869000,1,14,0.07
12,Panama,North America,2856000,8,10,0.80
13,Jamaica,North America,2583000,1,9,0.11
14,Trinidad and Tobago,North America,1295000,1,5,0.20
15,Guadeloupe,North America,456000,0,2,0.00
16,Martinique,North America,395000,0,1,0.00
17,Bahamas,North America,307000,1,1,1.00
18,Barbados,North America,270000,0,1,0.00
19,Belize,North America,241000,2,1,2.00
20,Netherlands Antilles,North America,217000,0,1,0.00
21,Saint Lucia,North America,154000,0,1,0.00
22,Saint Vincent and the Grenadines,North America,114000,0,0,NaN
23,Aruba,North America,103000,0,0,NaN
24,Aruba,North America,103000,0,0,NaN
25,Grenada,North America,94000,0,0,NaN
26,"Virgin Islands, U.S.",North America,93000,0,0,NaN
27,Dominica,North America,71000,0,0,NaN
28,Antigua and Barbuda,North America,68000,0,0,NaN
29,Bermuda,North America,65000,0,0,NaN
30,Greenland,North America,56000,231,0,NaN
31,Cayman Islands,North America,38000,0,0,NaN
32,Saint Kitts and Nevis,North America,38000,0,0,NaN
33,"Virgin Islands, British",North America,21000,0,0,NaN
34,Turks and Caicos Islands,North America,17000,0,0,NaN
35,Montserrat,North America,11000,0,0,NaN
36,Anguilla,North America,8000,0,0,NaN
37,Saint Pierre and Miquelon,North America,7000,0,0,NaN
38,Brazil,South America,170115000,913,611,1.49
39,Colombia,South America,42321000,122,152,0.80
40,Argentina,South America,37032000,297,133,2.23
41,Peru,South America,25662000,137,92,1.49
42,Venezuela,South America,24170000,97,87,1.11
43,Chile,South America,15211000,81,55,1.47
44,Ecuador,South America,12646000,30,45,0.67
45,Bolivia,South America,8329000,117,30,3.90
46,Paraguay,South America,5496000,43,20,2.15
47,Uruguay,South America,3337000,19,12,1.58
48,Guyana,South America,861000,23,3,7.67
49,Suriname,South America,417000,17,1,17.00
50,French Guiana,South America,181000,10,1,10.00
51,Falkland Islands,South America,2000,1,0,NaN

### pandas

In [52]:
df = pd.read_sql("SELECT * FROM Country;", db)

df[df['Continent'].isin(['North America', 'South America'])][['Name', 'Continent', 'Population']]

#df[['Name', 'Continent', 'Population']]

                                 Name      Continent  Population
0                               Aruba  North America      103000
1                               Aruba  North America      103000
4                            Anguilla  North America        8000
7                Netherlands Antilles  North America      217000
9                           Argentina  South America    37032000
14                Antigua and Barbuda  North America       68000
25                            Bahamas  North America      307000
28                             Belize  North America      241000
29                            Bermuda  North America       65000
30                            Bolivia  South America     8329000
31                             Brazil  South America   170115000
32                           Barbados  North America      270000
38                             Canada  North America    31147000
41                              Chile  South America    15211000
48                           Colombia  South America    42321000
51                         Costa Rica  North America     4023000
52                               Cuba  North America    11201000
54                     Cayman Islands  North America       38000
59                           Dominica  North America       71000
61                 Dominican Republic  North America     8495000
63                            Ecuador  South America    12646000
72                   Falkland Islands  South America        2000
82                         Guadeloupe  North America      456000
87                            Grenada  North America       94000
88                          Greenland  North America       56000
89                          Guatemala  North America    11385000
90                      French Guiana  South America      181000
92                             Guyana  South America      861000
95                           Honduras  North America     6485000
97                              Haiti  North America     8222000
108                           Jamaica  North America     2583000
116             Saint Kitts and Nevis  North America       38000
123                       Saint Lucia  North America      154000
136                            Mexico  North America    98881000
146                        Montserrat  North America       11000
147                        Martinique  North America      395000
157                         Nicaragua  North America     5074000
166                            Panama  North America     2856000
168                              Peru  South America    25662000
173                       Puerto Rico  North America     3869000
176                          Paraguay  South America     5496000
193                       El Salvador  North America     6276000
196         Saint Pierre and Miquelon  North America        7000
198                          Suriname  South America      417000
205          Turks and Caicos Islands  North America       17000
214               Trinidad and Tobago  North America     1295000
223                           Uruguay  South America     3337000
224                     United States  North America   278357000
227  Saint Vincent and the Grenadines  North America      114000
228                         Venezuela  South America    24170000
229           Virgin Islands, British  North America       21000
230              Virgin Islands, U.S.  North America       93000

In [77]:
# 더 보기 쉽게 객체 형성해서 해보자
df = pd.read_sql("SELECT * FROM Country;", db)

df1 = df[['Name', 'Continent', 'Population']]

df2 = df1[df1['Continent'].isin(['North America', 'South America'])]

df3 = df2.sort_values(['Continent', 'Population'], ascending=[True, False])


df3['미국인구1000명일때 인구'] = df3['Population']/278357
#df3['Population'] / 278357, 0

df3

,Name,Continent,Population,미국인구1000명일때 인구
224,United States,North America,278357000,1000.000000
136,Mexico,North America,98881000,355.230873
38,Canada,North America,31147000,111.895875
89,Guatemala,North America,11385000,40.900714
52,Cuba,North America,11201000,40.239692
61,Dominican Republic,North America,8495000,30.518363
97,Haiti,North America,8222000,29.537608
95,Honduras,North America,6485000,23.297420
193,El Salvador,North America,6276000,22.546586
157,Nicaragua,North America,5074000,18.228390
51,Costa Rica,North America,4023000,14.452663
173,Puerto Rico,North America,3869000,13.899417
166,Panama,North America,2856000,10.260205
108,Jamaica,North America,2583000,9.279450
214,Trinidad and Tobago,North America,1295000,4.652299
82,Guadeloupe,North America,456000,1.638184
147,Martinique,North America,395000,1.419041
25,Bahamas,North America,307000,1.102900
32,Barbados,North America,270000,0.969977
28,Belize,North America,241000,0.865795
7,Netherlands Antilles,North America,217000,0.779574
123,Saint Lucia,North America,154000,0.553246
227,Saint Vincent and the Grenadines,North America,114000,0.409546
0,Aruba,North America,103000,0.370028
1,Aruba,North America,103000,0.370028
87,Grenada,North America,94000,0.337696
230,"Virgin Islands, U.S.",North America,93000,0.334103
59,Dominica,North America,71000,0.255068
14,Antigua and Barbuda,North America,68000,0.244291
29,Bermuda,North America,65000,0.233513
88,Greenland,North America,56000,0.201180
54,Cayman Islands,North America,38000,0.136515
116,Saint Kitts and Nevis,North America,38000,0.136515
229,"Virgin Islands, British",North America,21000,0.075443
205,Turks and Caicos Islands,North America,17000,0.061073
146,Montserrat,North America,11000,0.039518
4,Anguilla,North America,8000,0.028740
196,Saint Pierre and Miquelon,North America,7000,0.025148
31,Brazil,South America,170115000,611.139652
48,Colombia,South America,42321000,152.038569
9,Argentina,South America,37032000,133.037790
168,Peru,South America,25662000,92.190963
228,Venezuela,South America,24170000,86.830940
41,Chile,South America,15211000,54.645653
63,Ecuador,South America,12646000,45.430868
30,Bolivia,South America,8329000,29.922007
176,Paraguay,South America,5496000,19.744429
223,Uruguay,South America,3337000,11.988202
92,Guyana,South America,861000,3.093150
198,Suriname,South America,417000,1.498076
90,French Guiana,South America,181000,0.650244
72,Falkland Islands,South America,2000,0.007185