# 1000개의 부동산 매물 엑셀파일 만들기
* 주소, 연락처(000-0000-0000), 보증금(int), 월세(int)

In [89]:
df = pd.DataFrame({'주소': [], '연락처': [], '보증금':[], '월세':[]})
df

Empty DataFrame
Columns: [보증금, 연락처, 월세, 주소]
Index: []

In [90]:
a = np.random.random_integers(0, 9, size=(1000,4))
df = pd.DataFrame(a, index = [np.arange(1000)+1], 
                  columns=['주소', '연락처', '보증금', '월세'])
df

      주소  연락처  보증금  월세
1      8    2    7   6
2      5    4    2   1
3      2    3    7   5
4      1    8    2   4
5      9    0    3   8
6      7    3    5   8
7      8    2    0   3
8      1    6    5   2
9      9    0    4   7
10     0    6    5   0
11     1    8    9   7
12     9    1    5   3
13     7    1    1   1
14     5    1    5   0
15     4    0    3   1
16     0    8    9   2
17     6    7    6   0
18     9    2    1   6
19     6    0    4   3
20     2    4    4   7
21     4    9    0   8
22     9    5    3   0
23     7    0    3   2
24     6    4    9   7
25     0    4    4   1
26     1    7    5   5
27     4    7    9   7
28     5    9    0   1
29     2    4    1   3
30     1    7    0   6
...   ..  ...  ...  ..
971    9    8    5   7
972    1    6    6   8
973    6    6    2   3
974    4    1    6   4
975    5    0    3   5
976    7    3    2   0
977    8    6    8   0
978    5    1    2   8
979    6    3    8   7
980    6    8    1   3
981    4    0    3   5
982    0    7    7   0
983    0    2    0   3
984    7    5    4   8
985    5    6    1   4
986    3    0    8   8
987    6    3    5   6
988    4    4    0   1
989    5    5    2   4
990    3    2    7   1
991    3    4    4   0
992    2    0    1   5
993    0    4    4   2
994    4    7    2   4
995    7    9    3   9
996    5    6    5   9
997    3    4    5   5
998    6    0    4   7
999    9    1    4   0
1000   5    2    7   4

[1000 rows x 4 columns]

In [91]:
df.ix[:, 2]*100+50

1       750
2       250
3       750
4       250
5       350
6       550
7        50
8       550
9       450
10      550
11      950
12      550
13      150
14      550
15      350
16      950
17      650
18      150
19      450
20      450
21       50
22      350
23      350
24      950
25      450
26      550
27      950
28       50
29      150
30       50
       ...
971     550
972     650
973     250
974     650
975     350
976     250
977     850
978     250
979     850
980     150
981     350
982     750
983      50
984     450
985     150
986     850
987     550
988      50
989     250
990     750
991     450
992     150
993     450
994     250
995     350
996     550
997     550
998     450
999     450
1000    750
Name: 보증금, dtype: int32

# 안수찬

In [92]:
import pandas as pd

In [93]:
df = pd.DataFrame(columns = ['address', 'phonenumber', 'deposit', 'rent',])
df

Empty DataFrame
Columns: [address, phonenumber, deposit, rent]
Index: []

In [94]:
# 밑에서 변수로 사용안할때 _로 함
import random
from faker import Faker
fake = Faker('ko_KR')

for _ in range(1000):
    deposit = random.choice(range(1, 20)) *500
    rent = random.choice(range(1, 20)) * 5
    phonenumber_list = [str(random.choice(range(0, 10))) for x in range(8)] # list comprehension
    phonenumber = '010' + "".join(phonenumber_list) #각각의list를 하나로 묶어주는작업
    phonenumber_processed = "-".join([
        # 1번 => "010"
            phonenumber[:3],
        # 2번 => "aaaa"
            phonenumber[3:-4],
        # 3번 => "bbbb")
            phonenumber[-4:]
        ]
     )
    address = fake.address().replace("\n", "")
    # print(deposit, rent, phonenumber_processed, address)
    
    df.loc[len(df)] = [address, phonenumber_processed, deposit, rent] # df.loc는 열하나씩 추가가능함 (ix와다른점)

In [95]:
df

                                     address    phonenumber  deposit  rent
0               충청남도 신대범군 하유웅동 632 (893-909)  010-7567-2422     6000    35
1                  전라북도 초슬화구  범미범로 9 138-795  010-1337-8363     9000    20
2             대구광역시 산은군  화온동 782 7-3 187-629  010-5546-8981     4000    10
3               충청남도 힘해구 배주연로 6054 (776-134)  010-0241-0926     8500     5
4                    전라북도 후영시  소예동 2 464-890  010-3018-3139     5500    45
5                  인천광역시 누영덕시  람두로 8 153-726  010-0662-8377     9500    90
6               충청북도 건승마을 묵선대동 999 (637-006)  010-7215-0242     7500    80
7               세종특별자치시 구한시  무환정거리 7 945-762  010-6652-1207     8000    75
8               인천광역시 희무구 창정휘로 905 (186-325)  010-4140-0655     4000    45
9             울산광역시 남빈후구  홍엽리거리 4460 837-954  010-2052-4073     3500    35
10       대전광역시 소봉진다시  독고승람동 702 18-5 926-973  010-3303-1772     9500    30
11        경상남도 구영구  모완병로 0 719동 935호 912-995  010-8005-4885     1500     5
12          경상북도 심준남구  형가관동 8362 0-3 361-026  010-3468-5097     8500    70
13              울산광역시 병인시  덕광연군 1759 726-422  010-6969-5547     3500    40
14   충청북도 박화은구  어종종거리 8781 556동 866호 901-427  010-7853-8479     2500    20
15              부산광역시 혜송구  세미빈시 6301 361-288  010-6083-2865     1000    50
16       전라남도 동방혁지구  권효송마을 992 278-5 520-169  010-2586-0100     7500    60
17             충청북도 한세주마을 석예동 3968 (797-331)  010-0730-8957     6500    50
18    부산광역시 기양구  류근예로 7045 996동 535호 292-069  010-0379-6567     3000    20
19               전라북도 철욱시 균훈로 0151 (772-815)  010-3276-5072     7500    55
20             세종특별자치시 교병림군 송의협구 4 (659-600)  010-0196-6256     5000    65
21             세종특별자치시 예금혜시  슬용로 655 812-630  010-8449-6136     7500    40
22           인천광역시 서광림마을 다아소마을 354 (707-325)  010-9157-0964     7000    50
23           세종특별자치시 미근군  궉가후거리 7571 342-179  010-2165-6551     8000    55
24           세종특별자치시 건온군 순무권동 7818 (374-285)  010-2156-6664     7500    30
25        광주광역시 송동군  예강동 7 873동 261호 023-577  010-0161-5562     3500    95
26               울산광역시 홍현환시  덕도순마을 0 250-061  010-3844-4795      500    95
27       부산광역시 판완대시 연도거리 128 481-6 (325-932)  010-2297-3435      500    55
28                경기도 장구도군 소현승거리 9 (183-453)  010-5700-6456     2000    90
29              전라북도 위병군 람윤연거리 296 (279-381)  010-5494-3742     7000    10
..                                       ...            ...      ...   ...
970                 전라남도 효후군 위경로 9 (394-314)  010-0108-8044     7000    25
971             세종특별자치시 아욱아시  웅순거리 3 365-471  010-8669-0639     7000    30
972              강원도 유인인시  호수익구 9600 063-053  010-5283-0494     4500    90
973          세종특별자치시 솔강군 오금슬거리 998 (237-770)  010-7190-7552     1000    60
974         세종특별자치시 성보마을 환해려구 0845 (755-571)  010-6192-8141     7000    45
975             인천광역시 해병동군  한주보구 004 877-091  010-9202-5960     6500    60
976    대구광역시 원철마을 규금연동 0 872동 299호 (246-848)  010-8313-6974     9000    55
977              강원도 찬해시  종은승거리 5231 887-903  010-5071-9505     1500    10
978           제주특별자치도 찬태시 솔범유구 674 (002-660)  010-8913-8641     3500    30
979                서울특별시 란안시  추남영로 7 552-457  010-8430-7044     9500    85
980            세종특별자치시 다현구  맹근우동 303 964-028  010-6402-5133     1500     5
981                 전라남도 미권마을  순욱로 2 010-077  010-2551-1819     8500    55
982           전라북도 원용향마을 단상재거리 608 (068-107)  010-3867-0621     5000    90
983          경기도 송홍순군 변익홍거리 6 18-2 (647-910)  010-1914-1978     9500    30
984        제주특별자치도 용웅군  아인로 9539 7-1 072-505  010-0174-6329     4500    80
985          전라북도 주주엽시  제갈명효동 7 60-5 563-623  010-7299-4192     6000    10
986     서울특별시 대빈군 해성범거리 7229 716-8 (766-906)  010-3130-2235     3500    10
987                 강원도 선별군 흥석혁로 9 (333-555)  010-4188-7034     1000    50
988              전라남도 다윤시  종은균동 8261 958-562  010-0909-4589     9500    20
989          제주특별자치도 양형호시 건황동 1907 (144-818)  010-6289-2473     9000    45
990                전라북도 경태시  강세원거리 7 804-579  010-7612-0871     1000    80
991     부산광역시 지덕명시 경은거리 4368 465-6 (094-518)  010-7303-1293     5500    10
992               강원도 진금시  위온권동 9201 418-721  010-5815-0669     2000    50
993             경상남도 의통시 덕후거리 4388 (365-631)  010-7472-2098     3000    55
994             인천광역시 근은군 연산재군 260 (041-356)  010-8984-8195     3000    55
995             부산광역시 억희군 욱광거리 163 (739-045)  010-1908-7928     7500    85
996          전라남도 통다구 익홍로 3575 4-1 (126-115)  010-1292-5719     4000    50
997            세종특별자치시 용은마을 돈휘병로 0 (103-468)  010-7069-9230     4500    40
998              부산광역시 팽창위군 재금양시 1 (777-953)  010-9202-6148      500    85
999                부산광역시 혜용구  찬려태동 9 171-886  010-1365-5288     4000    60

[1000 rows x 4 columns]

In [64]:
'******'.join(['PARK', 'JAE', 'KEUN'])

'PARK******JAE******KEUN'

In [70]:
# fake address generator python 구글링
# pip install fake-factory

In [1]:
from faker import Faker
fake = Faker('ko_KR')
print(fake.name())
print(fake.address())

나순인
대구광역시 의권군 승기인로 7 (679-341)